<div class="container">
  <h4>手順新規作成画面</h4>
  <% if @procedure.errors.any? %>
  <%= @procedure.errors.count %>件のエラーが発生しました
  必要な項目を入力してください
  <ul>
    <% @procedure.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
    <%= form_with model: @procedure, local: true, url: procedures_path, method: :post do |f| %>
        <div>
            <%= f.label :title, "手順タイトル" %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :image, "物品配置画像" %>
            <%= f.file_field :image %>
        </div>
        <div>
            <%= f.label :necessity_item, "必要物品" %>
            <%= f.text_area :necessity_item %>
        </div>
        <div>
            <%= f.label :procedure, "手順" %>
            <%= f.text_area :body %>
        </div>
        <div>
            <%= f.label :category_id, "カテゴリー選択" %>
            <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "カテゴリを選択してください" %>
        </div>
        <div class="form_action row">
            <%= f.submit "作成する" %>
        </div>
    <% end %>
</div>