<div class="container">
  <div class="row">
    <h4>手順詳細</h4>
      <table>
        <thaed>
          <tr>
            <th class="col-2">手順タイトル</th>
            <th class="col-2">物品配置画像</th>
            <th class="col-2">必要物品</th>
            <th class="col-6">手順</th>
          </tr>
        </thaed>
        <tbody>
          <tr>
            <td><%= @procedure.title %></td>
            <td><%= image_tag @procedure.get_image(100,100) %></td>
            <td><%= @procedure.necessity_item %></td>
            <td><%= @procedure.body %></td>
          </tr>
        </tbody>
      </table>
        <div><%= link_to "手順を変更する", edit_procedure_path(@procedure) %></div>
  </div>
  
  <div clas="row">
        <table>
          <thead>
            <tr>
              <th class ="col-2">変更者氏名</th>
              <th class ="col-4">変更点</th>
              <th class ="col-4">変更理由</th>
              <th class ="col-2">変更日時</th>
            </tr>
          </thead>
          <tbody>
            <% @procedure.procedure_changes.each do |change| %>
            <tr>
                <td><%= change.user.name %></td>
                <td><%= change.change %></td>
                <td><%= change.reason %></td>
                <td><%= change.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
            <p>変更件数：<%= @procedure.procedure_changes.count %></p>
  </div>
  <div class="row mt-2">
    <% if @procedure_change.errors.any? %>
  <%= @procedure_change.errors.count %>件のエラーが発生しました
  <ul>
    <% @procedure_change.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
    
    <%= form_with model: [@procedure, @procedure_change] do |f| %>
      <div class="col-4">
        <p><%= f.text_area :change, rows: '5', placeholder: "変更点や追加点をここに記載してください" %></p>
      </div>
      <div class="col-4">
        <p><%= f.text_area :reason, rows: '5', placeholder: "変更理由を記載してください" %></p>
      </div>
       <%= f.submit "送信する" %>
    <% end %>
  </div>

  <div class="row">
    <p>投稿日時：<%= @procedure.created_at.strftime('%Y/%m/%d') %></p>
        <% if @procedure.bookmarked_by?(current_user) %>
          <p>
            <%= link_to procedure_bookmarks_path(@procedure), method: :delete do %>
            ♥<%= @procedure.bookmarks.count %> ブックマークを外す
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to procedure_bookmarks_path(@procedure), method: :post do %>
             ♡<%= @procedure.bookmarks.count %> ブックマーク追加する
            <% end %>
          </p>
        <% end %>
  </div>
</div>