<div class="container">
  <div class="row">
    <h4>手順詳細</h4>
      <table>
        <thaed>
          <tr>
            <th>手順タイトル</th>
            <th>物品配置画像</th>
            <th>必要物品</th>
            <th>手順</th>
          </tr>
        </thaed>
        <tbody>
          <tr>
            <td><%= @procedure.title %></td>
            <td><%= image_tag @procedure.get_image(100,100) %></td>
            <td><%= @procedure.necessity_item %></td>
            <td><%= @procedure.body %></td>
          </tr>
        </tbody>
      </table>
        <div><%= link_to "手順を変更する", edit_procedure_path %></div>
  </div>
  
  <div clas="row">
    <p>変更件数：<%= @procedure.procedure_changes.count %></p>
        <table>
          <% @procedure.procedure_changes.each do |change| %>
          <thead>
            <tr>
              <th>変更者氏名</th>
              <th>変更点</th>
              <th>変更理由</th>
              <th>変更日時</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td><%= change.user.name %></td>
                <td><%= change.change %></td>
                <td><%= change.reason %></td>
                <td><%= change.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
  </div>
  <div class="row">
    <%= form_with model: [@procedure, @procedure_change] do |f| %>
      <div class="col-4">
        <p><%= f.text_area :change, rows: '5', placeholder: "変更点や追加点をここに記載してください" %></p>
      </div>
      <div class="col-4">
        <p><%= f.text_area :reason, rows: '5', placeholder: "変更理由を記載してください" %></p>
      </div>
       <%= f.submit "送信する" %>
    <% end %>
  </div>

  <div class="row">
    <p>投稿日時：<%= @procedure.created_at.strftime('%Y/%m/%d') %></p>
      <%# if @procedure.user_id == current_user.id %>
        <%#= link_to "削除", procedure_path(@procedure), method: :delete do %>
      <%# end %>
        <% if @procedure.bookmarked_by?(current_user) %>
          <p>
            <%= link_to procedure_bookmarks_path(@procedure), method: :delete do %>
            ♥<%= @procedure.bookmarks.count %> ブックマークを外す
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to procedure_bookmarks_path(@procedure), method: :post do %>
             ♡<%= @procedure.bookmarks.count %> ブックマーク追加する
            <% end %>
          </p>
        <% end %>
  </div>
</div>