 <div class ="container">
    <h5><%= @category.name %></h5>

      <% @category.procedures.each do |procedure| %>
        <%= link_to admin_procedure_path(procedure.id) do %>
          <%= procedure.title %>
        <% end %>
      <% end %>
        <%= link_to "手順名編集する", edit_admin_category_path %>
        <%#= link_to "手順追加する", new_admin_procedure_path %>
        <%= link_to "カテゴリー一覧に戻る", admin_categories_path %>
        <%= link_to "手順を削除する", admin_category_path %>
 </div>
 
 