<div class="container">
  <h4>マイページ</h4>
    <div><%= @user.staff_number %></div>
    <div><%= @user.name %></div>

     <div><%= link_to "登録情報編集", edit_users_path %></div>
     <div><%= link_to "ブックマーク一覧", bookmarks_path %></div>
     
  <h6>作成した手順一覧</h6>
    <% @user.procedures.each do |procedure| %>
      <%= procedure.title %>
    <% end %>
  
</div>