<div class="container">
  <h4>手順詳細</h4>
  <table>
    <thead>
      <tr>
        <th>手順タイトル</th>
        <th>物品配置画像</th>
        <th>必要物品</th>
        <th>手順</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @procedure.title %></td>
        <td><%= image_tag @procedure.get_image(100,100) %></td>
        <td><%= @procedure.necessity_item %></td>
        <td><%= @procedure.body %></td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>変更理由</th>
        <th>変更点</th>
        <th>変更、追加理由</th>
        <th>変更日時</th>
        <th>削除する</th>
      </tr>
    </thead>
    <tbody>
      <% @procedure.procedure_changes.each do |change| %>
      <tr>
        <td><%= change.user.name %></td>
        <td><%= change.change %></td>
        <td><%= change.reason %></td>
        <td><%= change.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "削除する", admin_procedure_procedure_change_path(@procedure.id, change.id), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "手順を編集する", edit_admin_procedure_path %>
  <%= link_to "この手順を削除する", admin_procedure_path, method: :delete %>

</div>